<table id="restaurants" class="table table-hover">
    <tbody data-bind="foreach: restaurants">
        <tr>
            <td  data-bind="text: Name"></td>
            <td  data-bind="text: Cuisine"></td>
            <td  data-bind="text: Rating"></td>
        </tr>
    </tbody>
</table>